.header {
  height: 64px;
  width: 100%;
  padding-inline: 2em;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
}

.innerContainer {
  max-width: 800px;
  height: 100%;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: whitesmoke;
  color: rgb(71, 71, 71);
  min-height: 56px;
  position: sticky;
  box-shadow: 0px 2px 5px #1d1d1d7b;
  z-index: 1000;
  top: 0px;
}

.navbar {
  width: fit-content;
  height: 56px;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
  align-items: center;
  margin-inline: auto;
  max-width: 800px;
  font-size: 14px;
}

.icon {
  font-size: 18px;
  padding-bottom: 0.1em;
}

.icon:hover {
  color: #ff0099;
}

@media only screen and (min-width: 800px) {
  .navbar {
    display: flex;
  }
}
